body {
    background-image: url('Sisalto/taustakuva.png'); 
    background-size: cover;
    background-position: center; 
    background-repeat:initial;
    height: 61vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.navbar {
    display: inline-block;
    padding: 10px;
    background-color:rgba(230, 210, 190, 0.5);
    border-radius: 20px;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    font-style: italic;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.navbar img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.tausta{
    background-color:rgba(230, 210, 190, 0.5);
    border-radius: 5px;
    width: auto;
    max-width: 760px;
}



#yleareenakuva{
    max-width: 50px;
    max-height: 50px;
}

.imagegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 10px;
    max-width: 1200px;
    box-sizing: border-box; 
}

.imagegrid .item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 5px;
    background-color: #f9f9f9; 
    padding: 5px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
}

.imagegrid img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
    max-height: 150px;
}

.imagegrid p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

