
body {
    background-image: url('Sisalto/taustakuva2.png'); 
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}
html, body {
    width: 100%;
    overflow-x: hidden; /* estetään turha vaakascrollaus */
    box-sizing: border-box;
}


/* Navigaatio */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(245, 222, 179, 0.9);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.navbar li {
    font-style: italic;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* Burger-menu (mobiiliin) */
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger .line {
    width: 25px;
    height: 3px;
    background-color: black;
}



/* Taustalaatikko */
.tausta {
    background-color: rgba(255, 255, 171, 0.651);
    border-radius: 10px;
    margin: 20px;
    width: 60%;
    max-width: 60%;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    box-sizing: border-box;
}



/* Taustan tekstityylit */
.tausta p {
    font-size: 20px;
    margin-bottom: 15px;
}


/* Iframe (video) */
iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 100%;
}

/* Kuvagalleria */
.imagegrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
}

.imagegrid .item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 5px;
    background-color: rgba(255, 255, 171, 0.651); 
    padding: 5px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    max-width: 900px;
}

.imagegrid img {
    width: 10%;
    height: auto;
    object-fit: contain;
    max-height: none;
    max-width: 100%;
}

.imagegrid p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/* Alapalkki */
.alapalkki {
    flex-grow: 1;
    margin-top: 100px;
    padding: 50px;
    width: 100%;
    background-color: rgba(245, 222, 179, 0.9);
    box-sizing: border-box;
}
